<!doctype html>
<html class="no-js" lang="">
<head>
    {{> head }}
</head>
<body class="linkOfNote">

{{> topbar }}

<header>
    <p>Link of Note</p>
    <h1>{{ title }}</h1>
    <p>posted <time datetime="{{ page.date }}">{{ myIshyDate page.date page.title }}</time></p>
</header>

<div class="post">
    {{{ content }}}
</div>

<h2>tags</h2>
<ul>
    {{#each tags}}
        <li>{{ this }}</li>
    {{/each}}
</ul>

{{> bottombar }}

<script src="./js/app.js" type="module"></script>

</body>
</html>
